<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

	<title>관리자 등록</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

	<style>
		body        { padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div>
			<h2>
				관리자 조회/수정
			</h2>
			<h3>관리자 목록</h3>
			<table border="1" cellspacing="0">
				<colgroup>
					<col width="50">
					<col width="100">
					<col width="80">
					<col width="200">
					<col width="200">
					<col width="300">
					<col width="50">
					<col width="50">
				</colgroup>
				<thead>
				<tr>
					<th scope="col">관리자 ID</th>
					<th scope="col">관리자 이름</th>
					<th scope="col">관리자 User_ID</th>
					<th scope="col">관리자 Email</th>
					<th scope="col">관리자 Nickname</th>
					<th scope="col">관리자 등록일</th>
					<th scope="col">관리자 등급</th>
					<th scope="col">삭제</th>
				</tr>
				</thead>
				<tbody>
				<%for(var i=0;i<admin_list.length;i++){
				%>
				<tr>
					<td><%=admin_list[i].admin_id%></td>
					<td><%=admin_list[i].name%></td>
					<td><%=admin_list[i].user_id%></td>
					<td><%=admin_list[i].email%></td>
					<td><%=admin_list[i].nickname%></td>
					<td><%=admin_list[i].created_at%></td>
					<td><%=admin_list[i].admin_rank%></td>
					<td>
						<form action="/admin_delete" method="post">
							<input type="hidden" name="admin_id" value="<%=admin_list[i].admin_id%>"/>
							<input type="submit" class="admin_delete" value="delete"/>
						</form>
					</td>
				</tr>
				<%}%>
				</tbody>
			</table>
			<br><br>
            <input type="submit" id="button_new_admin" value="관리자 등록"/>
			<br>
            <br><a href="/">관리자 홈으로</a>
		</div>
	</div>
</div>
<script type="text/javascript" src="jquery-3.2.1.min.js"></script>
<script>
    $("#button_new_admin").on('click', function(event){
        var newWindow = window.open("관리자 등록",'',"width=300,height=100");
        ;
        newWindow.document.write("" +
            "<form action=\"/admin_register\" method=\"post\">" +
            "<label>유저 이메일</label>" +
            "<input type=\"email\" name=\"email\"/>" +
            "<br>" +
            "<label>닉네임</label>" +
            "<input type=\"text\" name=\"nickname\"/>" +
            "<br>" +
            "<input type=\"submit\" value=\"관리자 등록\"/>" +
            "</form>" +
            "");
    })

    $(".admin_delete").each(function(){
       $(this).click(function(event){
           var result = confirm('삭제 하시겠습니까?');
           if(result) return true;
           else return false;
       })
    });
</script>
</body>
</html>